body, html {
    height: 100%;
}
body{
    background: linear-gradient(180deg, rgba(143, 236, 192, 0.71) 2.6%, rgba(193, 216, 115, 0.605106) 24.48%, rgba(206, 187, 88, 0.557091) 52.08%, rgba(92, 172, 91, 0.43) 86.98%, rgba(111, 208, 185, 0.46) 100%);
}
.bg-info {
    background-color: #68F8B3!important;
}
#but{
    height: 60px;
}