<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/" lang="en">
<script type="text/javascript" th:src="@{/js/addPet.js}"></script>
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Pet</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>

<div class="text-center cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
        <form method="post" th:action="@{/my/pets/add}" th:object="${pet}" enctype="multipart/form-data" th:onsubmit="return myValidationForm()"
              class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Create your animal</h1>

            <label for="inputName" class="sr-only">Name</label>
            <input type="text" id="inputName" th:field="*{name}" maxlength="20" required placeholder="Name" name="name"/>
            <br>
            <label for="inputDescription" class="sr-only">Description</label>
            <input type="text" id="inputDescription" maxlength="500" th:field="*{description}" placeholder="Description" name="description"/>
            <br>
            <br>
            <div class="custom-file col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2 ">
                <input type="file" id="customFile" class="custom-file-input" placeholder="File" name="file" th:onchange="isFileImage()"/>
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <br>
            <br>
            <div class="lead col-8 col-sm-6 col-md-4 col-lg-3 col-xl-2 mx-auto">
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Create animal" th:onclick="return myValidationButton()">
                    Create
                </button>
            </div>
            <p class="mt-5 mb-3 text-muted">© 2020</p>
        </form>
    </main>
    <footer class="mastfoot mt-auto">
    </footer>
</div>

</body>
</html>