<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Pets</title>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div th:if="${owner}">
    <div class="row" th:if="${event != null}">
        <div class="col-sm-9">
            <div>
                <blockquote>
                    <h5 th:text="${event.getStartTime().toString()+' '+event.getEndTime().toString()}"></h5>
                </blockquote>
            </div>
            <div>
                <p th:text="${event.getDescription()}"></p>
            </div>
            <div>
                    <a class="btn btn-danger" role="button" href="#">
                        Delete
                    </a>
            </div>
        </div>
    </div>
</div>
<div th:unless="${owner}">
    <div class="row" th:if="${event != null}">
        <div class="col-sm-9">
            <div>
                <blockquote>
                    <h5 th:text="${event.getStartTime().toString()+' '+event.getEndTime().toString()}"></h5>
                </blockquote>
            </div>
            <div>
                <p th:text="${event.getDescription()}"></p>
            </div>
        </div>
    </div>
</div>

<div th:if="${event == null}">
    <h1>404</h1>
    <h2>This event does not exist</h2>
</div>

</body>
</html>