<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Подія</title>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div class="container">
    <div class="row" th:if="${event != null}">
        <div class="col-sm-9">
            <div>
                <h1>Подія</h1>
                <p th:text="${event.getDescription()}"></p>

                <p th:text="'Дата: '+ ${ (event.getStartTime().getDayOfMonth() > 10 ? event.getStartTime().getDayOfMonth() : '0'+event.getStartTime().getDayOfMonth())+'.'+ (event.getStartTime().getMonthValue() > 10 ? event.getStartTime().getMonthValue() : '0'+event.getStartTime().getMonthValue()) + '.'+event.getStartTime().getYear()+' - '+ (event.getEndTime().getDayOfMonth() > 10 ? event.getEndTime().getDayOfMonth() : '0'+event.getEndTime().getDayOfMonth())+'.'+ (event.getEndTime().getMonthValue() > 10 ? event.getEndTime().getMonthValue() : '0'+event.getEndTime().getMonthValue()) + '.'+event.getEndTime().getYear()}"> </p>

                <p th:text="'Час: ' + ${event.getStartTime().getHour()+':'+(event.getStartTime().getMinute() > 10 ? event.getStartTime().getMinute() : '0'+event.getStartTime().getMinute())+' - '+event.getEndTime().getHour()+':'+(event.getEndTime().getMinute() > 10 ? event.getEndTime().getMinute() : '0'+event.getEndTime().getMinute())}"></p>
            </div>
            <div>
                <div class="row">
                    <div class="col-3" th:each="pet : ${event.getPets()}">
                        <a th:href="'/pets/' + ${pet.getId().toString()}">
                            <img class="card-img-top" th:src="${'/images/' + pet.getPhotoUrl().toString()+'.png'}"
                                 th:alt="${'/images/' + pet.getPhotoUrl().toString()+'.png'}">
                        </a>
                    </div>
                </div>
                <div th:if="${owner}">
                    <div th:if="${!event.getSignedUsers().isEmpty()}">
                        <p>Підписані користувачі: </p>
                        <div th:each="user : ${event.getSignedUsers()}">
                            <div>
                                <a th:href="'/users/'+ ${user.getId().toString()}">
                                    <span th:text="${user.getFirstName()}"></span>
                                </a>
                                <form method="post"
                                      th:action="'/events/' + ${event.getId()} + '/confirm/' + ${user.getId()}">
                                    <button type="submit" value="Підтвердити">Підтвердити</button>
                                </form>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div th:if="${event.getSignedUsers().isEmpty()}">
                        Немає підписок :(
                    </div>
                    <form th:action="'/my/events/' + ${event.getId()} + '/delete'" method="post">
                        <button class="btn btn-sm btn-outline-danger" type="submit" value="Delete">Видалити</button>
                    </form>
                </div>
                <div th:unless="${owner}">
                    <div th:if="${signed}">
                        Ти вже підписаний
                    </div>
                    <div th:if="${!signed}">
                        <form th:action="'/my/events/' + ${event.getId()} + '/sign'" method="post">
                            <button class="btn btn-sm btn-outline-primary" type="submit" value="Підписатися">
                                Підписатися
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div th:each="comment : ${event.getEventComments()}">
                <div class="container">
                    <div th:text="${comment.getUser().getUsername()}"></div>
                    <div th:text="${comment.getText()}"></div>
                </div>
            </div>
            <form th:action="'/events/' + ${event.getId() +'/comment'}" method="post">
                <input type="text" name="comment">
                <button type="submit">Надіслати</button>
            </form>
        </div>
    </div>
</div>

<div th:if="${event == null}">
    <h1>404</h1>
    <h2>Цієї події не існує :(</h2>
</div>

</body>
</html>