<!Doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Події</title>
    <link th:href="@{/css/album/album.css}" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>

<div th:if="${error} == true">
    <H1>Помилка</H1>
</div>

<main role="main">
    <div th:if="${owner}">
        <button type="button" class="btn btn-outline-success btn-lg btn-block"
                onclick="document.location.href=this.getAttribute('href');" th:href="'/my/events/add'">+ Додати подію</button>
    </div>

    <div th:unless="${owner}">
        <button type="button" class="btn btn-outline-success btn-lg btn-block"
                onclick="document.location.href=this.getAttribute('href');" th:href="'/events/'">+ Знайти події</button>
    </div>

    <div class="album py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4" th:each="event : ${events}">
                    <div class="card mb-4 box-shadow">
                        <div class="container">

                            <p th:text="'Дата: '+ ${ (event.getStartTime().getDayOfMonth() > 10 ? event.getStartTime().getDayOfMonth() : '0'+event.getStartTime().getDayOfMonth())+'.'+ (event.getStartTime().getMonthValue() > 10 ? event.getStartTime().getMonthValue() : '0'+event.getStartTime().getMonthValue()) + '.'+event.getStartTime().getYear()+' - '+ (event.getEndTime().getDayOfMonth() > 10 ? event.getEndTime().getDayOfMonth() : '0'+event.getEndTime().getDayOfMonth())+'.'+ (event.getEndTime().getMonthValue() > 10 ? event.getEndTime().getMonthValue() : '0'+event.getEndTime().getMonthValue()) + '.'+event.getEndTime().getYear()}"> </p>

                            <p th:text="'Час: ' + ${event.getStartTime().getHour()+':'+(event.getStartTime().getMinute() > 10 ? event.getStartTime().getMinute() : '0'+event.getStartTime().getMinute())+' - '+event.getEndTime().getHour()+':'+(event.getEndTime().getMinute() > 10 ? event.getEndTime().getMinute() : '0'+event.getEndTime().getMinute())}"></p>

                            <p th:if="${owner}" class="text-dark" th:text="${'Кількість підписаних людей: ' + event.getSignedUsers().size()}"></p>

                        </div>

                        <div class="card-body">
                            <div class="container d-flex justify-content-between align-items-center">
                                <div class="row">

                                    <button type="button" class="btn btn-sm btn-outline-primary"
                                            onclick="document.location.href=this.getAttribute('href');"
                                            th:href="'/events/' + ${event.getId().toString()}">
                                        Переглянути
                                    </button>

                                    <div th:if="${owner}">
                                        <form th:action="'/my/events/' + ${event.getId()} + '/delete'" method="post">
                                            <button class="btn btn-sm btn-outline-danger" type="submit" value="Видалити">
                                                Видалити
                                            </button>
                                        </form>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>

</body>
</html>