<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="utf-8">
    <title>Internationalization</title>
</head>
<body>

<h1 th:text="#{greeting}"></h1>

<span th:text="#{lang.change}"></span>:
<label for="locales"></label><select id="locales">
    <option value=""></option>
    <option value="en" th:text="#{lang.eng}"></option>
    <option value="uk" th:text="#{lang.uk}"></option>
</select>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption !== ''){
                window.location.replace('international?lang=' + selectedOption);
            }
        });
    });
</script>
</body>
</html>