<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Мої тваринки</title>
<body>
<header th:insert="fragments/header.html :: header"></header>
<div class="row">
    <div class="col-sm-3">
        <div class="card mb-4 box-shadow">
            <img class="card-img-top" th:src="${'/images/' + pet.getPhotoUrl().toString()+'.png'}" th:alt="${'/images/' + pet.getPhotoUrl().toString()+'.png'}">
        </div>
    </div>
    <div class="col-sm-9">
        <div>
            <blockquote>
                <h5>Ім'я: </h5> <p th:text="${pet.getName()}"></p>
            </blockquote>
        </div>
        <div>
            <h5>Опис: </h5> <p th:text="${pet.getDescription()}"></p>
        </div>
        <div th:if="${owner}">
            <form th:action="'/my/pets/' + ${pet.getId()} + '/delete/'" method="post">
                <button class="btn btn-outline-danger" type="submit" value="Delete">Видалити</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>