<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Pets</title>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div class="text-center">
    <p th:text="${pet.getName()}"></p>
    <img th:src="${'../../../images/' + pet.getId().toString() + '.png'}" th:alt="${pet.getId().toString()}" />
    <p th:text="${pet.getDescription()}">
    <p>
        <a class="btn btn-danger" role="button" th:href="'/pets/delete/' + ${pet.getId().toString()}">
            Delete
        </a>
    </p>
</div>

</body>
</html>