<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Album of Pets</title>
    <link th:href="@{/css/album/album.css}" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>


<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4" th:each="pet : ${pets}">
                    <div class="card mb-4 box-shadow">
                            <img class="card-img-top" th:src="${'/images/' + pet.getPhotoUrl().toString()+'.png'}" th:alt="${pet.getPhotoUrl()}">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="document.location.href=this.getAttribute('href');" th:href="'/pets/' + ${pet.getId().toString()}"  th:text="#{View}"></button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary"  th:text="#{Edit}"></button>
                                </div>
                                <p class="text-dark" th:text="${pet.getName()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>

</body>
</html>