<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Події</title>
    <link th:href="@{/css/album/album.css}" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>


<main role="main">
    <div class="text-center">
    <button id="but" type="button" class="btn btn-outline-success btn-lg btn-block"
            onclick="document.location.href=this.getAttribute('href');" th:href="'/my/pets/add'">+ Додати тваринку</button>
    </div>
    <div class="album py-5 bg-transparent">
        <div class="container bg-transparent">
            <div class="row">
                <div class="col-md-4" th:each="pet : ${pets}">
                    <div class="card mb-4 bg-transparent">

                        <img class="card-img-top" th:src="${'/images/' + pet.getPhotoUrl().toString()+'.png'}"
                                 th:alt="${pet.getPhotoUrl()}">

                        <div class="card-body">
                            <h5 class="text-center" th:text="${pet.getName()}"></h5>
                            <div class="text-center">
                                    <button type="button" class="btn btn-sm btn-outline-primary" onclick="document.location.href=this.getAttribute('href');"
                                            th:href="'/pets/'+ ${pet.getId().toString()}">
                                        Переглянути
                                    </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/popper/popper.min.js}"></script>

<link th:href="@{/css/sections/pets.css}" rel="stylesheet">
</body>
</html>