<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Profile</title>
<body>
<header th:insert="fragments/header.html :: header"></header>
<hr>
<div class="container">
    <div class="row justify-content-between">
        <div class="col-sm-10">
            <h1 th:text="${user.getFirstName()}">User name</h1>
        </div>
        <div class="col-sm-2">
            <a href="/users" class="pull-right">
                <img title="profile image" class="img-circle img-responsive" th:src="@{/images/icon.png}" width="100"
                     height="100">
            </a>
        </div>
    </div>

    <div th:if="${error}" class="container"><br/>
        <div class="alert alert-danger">
            <strong>Помилка!</strong><br/>
            This mail is already taken.
        </div>
    </div>

    <form class="form" th:action="@{/my/profile}" th:object="${newUser}" method="POST" enctype="multipart/form-data" >
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <img th:src="${'/images/' + user.getPhotoUrl() + '.png'}" class="avatar img-circle img-thumbnail" alt="avatar">
                <h6>Upload a different photo</h6>
                <div class="col-3">
                    <input type="file" name="file" class="text-center center-block file-upload" accept="image/*">
                </div>
            </div>
            <hr>
            <br>
        </div>
        <div class="col-sm-9">
            <div class="tab-content">
                <div class="tab-pane active" id="home">
                    <hr>

                        <div class="form">
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="first_name"><h4>First name</h4></label>
                                <input type="text" class="form-control" name="first_name" id="first_name" th:field="*{firstName}"
                                       placeholder="first name" title="enter your first name if any.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="last_name"><h4>Last name</h4></label>
                                <input type="text" class="form-control" name="last_name" id="last_name" th:field="*{lastName}"
                                       placeholder="last name" title="enter your last name if any.">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="phone"><h4>Mobile Phone</h4></label>
                                <input type="tel" class="form-control" name="phone" id="phone" th:field="*{phoneNumber}"
                                       placeholder="enter phone" title="enter your mobile phone number if any.">
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="email"><h4>Email</h4></label>
                                <input type="email" class="form-control" name="email" id="email" th:field="*{email}"
                                       placeholder="you@email.com" title="enter your email.">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="location"><h4>Location</h4></label>
                                <input type="text" class="form-control" id="location" placeholder="somewhere" th:field="*{city}"
                                       title="enter a location">
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <label for="password"><h4>Password</h4></label>
                                <input type="password" class="form-control" name="password" id="password" th:field="*{password}"
                                       placeholder="password" title="enter your password.">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <br>
                                <button class="btn btn-lg btn-success" type="submit">
                                    Save
                                </button>
                            </div>
                        </div>
                        </div>

                    <hr>
                </div>
            </div>
        </div>
    </div>
    </form>

</div>
</body>
<script type="text/javascript" th:src="@{/js/profile.js}"></script>
</html>