<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/login/sign.css}" rel="stylesheet">
    <title>Реєстрація</title>
</head>
<body class="align-content-center">

<div>
    <div th:if="${error}" class="container"><br/>
        <div class="alert alert-danger">
            <strong>Помилка!</strong><br/>
            Ця пошта уже зайнята.
        </div>
    </div>
    <h1 class="h3 mb-3 font-weight-normal">Реєстрація</h1>
    <form action="/users" method="post" th:object="${user}">
        <p><input type="text" th:field="*{firstName}" maxlength="50" required placeholder="Ім'я"></p>
        <p><input type="text" th:field="*{lastName}" maxlength="50" required placeholder="Призвіще"></p>
        <p><input type="password" th:field="*{password}" maxlength="50" required placeholder="Пароль"></p>
        <p><input type="email" th:field="*{email}" required placeholder="Емейл"></p>
        <p><input type="tel" th:field="*{phoneNumber}" required placeholder="Номер телефону"></p>
        <p><input type="text" th:field="*{city}" placeholder="Місто"></p>
        <p><input type="text" th:field="*{district}" placeholder="Район"></p>
        <p><input type="text" th:field="*{description}" placeholder="Кілька слів про себе"></p>
        <button type="submit">Створити користувача</button>
    </form>
</div>

</body>
</html>