<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <title id="pageTitle">Pets</title>
<body>
<header th:insert="fragments/header.html :: header"></header>

<div th:if="${!events.isEmpty()}">
    <div th:each="event : ${events}">
        <form th:action="'/my/events/rate/' + ${event.getId()}" method="post" th:object="${event}">
            <span th:text="${event.getWorker().getUsername()} + ${event.getWorker().getId()}"></span>
            <input type="range" id="rating" min="0" max="10" name="rating" list="ratingList">
            <datalist id="ratingList">
                <option value="0" label="0%">0</option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5" label="5%">5</option>
                <option value="6"></option>
                <option value="7"></option>
                <option value="8"></option>
                <option value="9"></option>
                <option value="10" label="10%">10</option>
            </datalist>
            <button type="submit" value="Оцінити">Оцінити</button>
        </form>
    </div>
</div>
</body>
</html>