<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Something</h1>
{{# users }}
    <h2>Something</h2>
    <tr>
        <td>{{firstName}}</td>
    </tr>
{{/users}}

</body>
</html>