<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/">
<head th:insert="fragments/head.html :: head">
    <meta charset="UTF-8">
    <title id="pageTitle">Користувачі</title>
</head>
<body>
<div th:insert="fragments/header.html :: header"></div>

<div class="container">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Mail</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <th scope="row" th:text="*{user.getId()}">2</th>
            <td th:text="*{user.getFirstName()}"></td>
            <td th:text="*{user.getEmail()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>